<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- data source -->
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.p6spy.engine.spy.P6SpyDriver" />
    <property name="url" value="jdbc:h2:mem:jmonitortestdb" />
    <property name="username" value="sa" />
    <property name="password" value="" />
    <!-- TODO externalize these properties and have defaults with an override file(?) -->
    <!--      <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />-->
    <!--      <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=jmonitortestdb" />-->
    <!--      <property name="username" value="sa" />-->
    <!--      <property name="password" value="password1" />-->
  </bean>

  <!-- transaction manager -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource">
      <ref bean="dataSource" />
    </property>
  </bean>

</beans>